# This is a sample .env file for a Next.js application.
# Copy this file to .env.local and fill in your environment variables.

# Configuration your database connection
# For SQLite (default):
# DATABASE_URL="file:./dev.db"

# For MySQL, MariaDB, or other SQL databases, use the appropriate connection string:
# DATABASE_URL="mysql://<username>:<password>@<host>:<port>/<database>"

DATABASE_URL="file:./dev.db"

# Configure your application authentication method.
# Options: 'internal', 'clerk', 'none'
NEXT_PUBLIC_AUTH_STRATEGY="internal"

# if you are using internal authentication, uncomment the following lines and replace with your actual keys
# SSO_AUTH_URL= http://localhost:3000
# SSO_USERINFO_ENDPOINT=http://localhost:9400/externalApiSync/clerk/internal/userinfo

# if you are using Clerk for authentication, uncomment the following lines and replace with your actual keys
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<YOUR_CLERK_PUBLISHABLE_KEY>
# CLERK_SECRET_KEY=<YOUR_CLERK_SECRET_KEY>

